html {
    background: #00FFFF

}

h1 {
  font-family: Veranda:;
  font-size: 250%;
}

p {
  font-family: Verdana;
  font-size: 150%;
}

td {
  font-family: Verdana;
  font-size: 100%;
  font-style: italic
}
